/*BEGIN STARTER CSS - DO NOT CHANGE*/
html{
    scroll-behavior: smooth;
}

header{
  background-image: url('../images/15129521_1110646779056669_6819884756953635761_o.jpg'); 
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(110%);
  opacity: 0.75;
}

header > h1{
  font-size: 60px;
  color: #000000;
  text-align: center;
  font-family: cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

html,body{
  overflow-x: hidden;
}

body{
  position:relative;
}

.image1{
  width:400px;
}

.image2{
  height:400px;
}