.music{
    width:310px;
    margin-top:50px;
}

html,body{
    overflow-x: hidden;
  }
  
  body{
    position:relative;
  }

header{
  background-image: url('../images/tambura.jpg'); 
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(110%);
  opacity: 0.75;
}

header > h1{
  font-size: 45px;
  color: #000000;
  text-align: center;
  font-family: cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}