/*BEGIN STARTER CSS - DO NOT CHANGE*/

body{
  background: linear-gradient(#ffcba4, #fffaf1);
}

html{
    scroll-behavior: smooth;
}

#first{
  background-image: url('../images/homepage.jpg'); 
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(110%);
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main > h1{
  font-size: 2.8125em;
  color: #000000;
  text-align: center;
  font-family: cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  animation-name: slidein;
  animation-duration: 3s;
}

section > h1{
  font-size: 2.8125em;
  color: #000000;
  text-align: center;
  font-family: cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  animation-name: slidein;
  animation-duration: 3s;
}

@keyframes slidein {
  from {
    margin-left:-100px;
    width: 300%;
  }

  to {
    margin-left:40px;
    width: 100%;
  }
}

@media (prefers-reduced-motion) {
  .animation {
    animation-name: none;
  }
}

.main_text{
  transform: translate(-50%, -0%);
}

.nav_links{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items:center;
}

nav a.current {
  text-decoration:underline #000000 solid 3px;
  border-top:ridge;
  text-transform: uppercase;
}

li a{
  width: 6.25em;
  color:#485063;
  font-family:Raleway;
  font-size: 1.25em;
  text-decoration: none;
}

li a:hover{
  text-decoration: underline;
}

p.home_text{
  font-family: Raleway;
  font-size: 1.25em;
  margin-top: 0.625em;
  margin-bottom: 0.625em;
  color:#485063;
  text-align: center;
}

div p{
  font-family: Raleway;
  font-size: 1.25em;
  margin-top: -0.3125em;
  margin-bottom: 0.625em;
  color:#485063;
  text-align: center;
}


html,body{
  overflow-x: hidden;
}

body{
  position:relative;
}

.image1{
  display:flex;
  width:100%;
  justify-content:flex-start;
  align-items:center;
  margin-left:-80px;
}


.image2{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:40px;
}

.img_wrap, .img_wrap_2{
  position: relative;
  height: 12.5em;
  width: 16em;
}

.hover_text{
  margin-top:-6.25em;
  margin-left:10em;
  background: rgba(29, 106, 154, 0.72);
  color: #ffffff;
  font-family:cursive;
  font-size:1.25em;
  width:6.25em;
  opacity: 0;
  visibility: visible;
}

.hover_text_2{
  margin-top:-21.25em;
  margin-left:10.31em;
  background: rgba(29, 106, 154, 0.72);
  color: #ffffff;
  font-family:cursive;
  font-size:1.25em;
  width:6.25em;
  opacity: 0;
  visibility: visible;
}

.hover_text:hover .image1{
  filter: blur(0.3125em);
}

.hover_text_2:hover .image2{
  filter: blur(0.3125em);
}


a.container{
  color: white;
  width: 155px;
  height: 135px;
  text-align:center;
  font-size:30px;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.card {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 305px;
  margin:-10px auto;
}

.card:hover img {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  transform: scale(1.03);
}

.card:hover .container {
  -webkit-opacity: 1;
  opacity: 1;
}


.music{
  display:flex;
  justify-content: center;
  width:100%;
}

.banner{
  display:flex;
  justify-content:center;
  margin-top:20px;
  width:100%;
}

#main1{
  background-image: url('../images/Aerial06.jpg'); 
  height: 650px;
  position: relative;
  filter: brightness(110%);
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main2{
  background-image: url('../images/381effd5decf16bed19c5bc27500e2fe.jpeg'); 
  height: 650px;
  width:100%;
  background-position:top;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  filter: brightness(110%);
  opacity: 0.75;
}

#main3{
  background-image: url('../images/Scenic_beauty_3.jpg'); 
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(110%);
  opacity: 0.55;
}

#main4{
  background-image: url('../images/Can-pubs-host-live-music-gigs_wrbm_large.jpeg'); 
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(110%);
  opacity: 0.55;
}

footer{
  background-color:#000000;
  color:#ffffff;
  text-align:center;
  font-family:cursive;
  font-weight: bold;
  margin-top:5px;
}

footer.about{
  margin-top:-3px;
}

footer.home{
  margin-top:10.5px;
}

footer.mus, footer.gallery{
  margin-top:2px;
}

.list{
  display: grid;
  grid-template-columns: 1fr;
}

img.grid-item1, img.grid-item2, img.grid-item4{
  width: 95vw;
  margin-top:1.875em;
}

img.grid-item3{
  width:95vw;
  margin-top:20px;
}

iframe{
  margin-top:1.875em;
  width: 95vw;
  filter: contrast(1.15);
}

form{
  margin-left:50px;
}

#message{
  width:20.33em;
  height:15em;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
}

.ph{
  margin-top:8px;
}
.email{
  margin-top:3px;
}

#email{
  padding: 5px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
}
#fname{
  padding: 5px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
}

.submit{
  width:9.375em;
  height:3.125em;
  background-color:#000000;
  color:#ffffff;
  font-weight:bold;
  border:none;
  margin-left:70px;
  text-align:center;
}

#link{
  background-color:#000000;
  color:#ffffff;
  font-weight:bold;
  border:none;
  text-align:center;
  text-align:center;
  align-self:center;
  justify-content:center;
  margin: 0 auto; 
}
.button1{
  text-align:center;
  align-self:center;
  justify-content:center;
  margin: 0 auto;
}

.button1:hover{
  background-color:#bbb;
}

@media all and (min-width:600px){
  nav{
    width:100%;
    padding-top:15px;
  }
  .nav_links{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:wrap;
  }

  .image1{
    display:flex;
    width:100%;
    justify-content:flex-start;
    align-items:center;
    margin-left:-50px;
  }

  .about2{
    display: block;
    margin:auto;
    width: 300px;
    height: 300px;
  }

  #first{
    height:600px;
    width:100%;
    background-position: top;
    opacity: 0.5;
    margin-top:15px;
  }
  #first::before{
    background-image: url('../images/homepage.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    filter:brightness(110%);
    opacity: 0.5;
    display:flex;
    align-items: flex-start;
  }
  #first h1{
    font-size: 4em;
    color: #000000;
    text-align: center;
    font-family: cursive;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -10%);
  }

  #main2, #main1, #main4{
    margin-top:15px;
  }

  .music{
    width:500px;
    float:right;
    padding:0 15px 0 0;
  }
  .banner{
    width:300px;
    float:right;
    padding:0 10px 0 0;
  }

  footer.mus{
    margin-top:105px;
  }

  p.home_text{
    text-align:left;
    padding-left:35px;
}

#contact-form{
  justify-content:center;
  text-align:center;
  align-self:center;
}

#message{
  width:140%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
}

#email, #fname{
  width:140%;
}

footer{
  background-color:#000000;
  color:#ffffff;
  text-align:center;
  font-family:cursive;
  font-weight: bold;
  margin-top:215px;
}

form{
  margin:30px;
  display:block;
}

.row1{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#main3{
  background-image: url('../images/Scenic_beauty_3.jpg'); 
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(110%);
  opacity: 0.55;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-top:10px;
}

.card{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.image1{
  margin-left:30px;
}

.image2{
  width:115%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left:40px;
  margin-top:-20px;
}

footer.home{
  margin-top:50px;
}

a.container{
  margin-left:50px;
}

footer.gallery{
  margin-top:30px;
}

#contact_form{
  text-align:center;
  justify-content:center;
}

.list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

img.grid-item1, img.grid-item2{
  width: 90%;
  margin-top:1.875em;
}

img.grid-item1{
  height:90%;
  margin-left:-20px;
  grid-column-start:1;
}

img.grid-item2{
  margin-left:-30px;
  height:90%;
}

img.grid-item3{
  width:90%;
  margin-top:40px;
  grid-column-start: 4;
  margin-left:0px;
  height:90%;
}

iframe{
  margin-top:1.875em;
  width: 90%;
  height:90%;
  filter: contrast(1.15);
}

img.grid-item4{
  width:90%;
  margin-top:35px;
  margin-left:-30px;
  height:90%;
}

iframe.grid-item5{
  margin-top:1.875em;
  width: 90%;
  height: 90%;
  filter: contrast(1.15);
  grid-column-start:3;
  margin-left:-110px;
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
  margin:auto;/* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);

}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color:#ffcba4;
  color: white;
  transform: rotateY(180deg);
}

.filter-button{
    font-size: 20px;
    border: 3px solid #000000;
    background-color:#ffffff;
    border-radius: 0px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    margin-top:15px;
    margin-left:15px;

}
.filter-button:hover{

    font-size: 20px;
    border: none;
    border-radius: 0px;
    text-align: center;
    color: #000000;
    background-color: #bbb;

}
.btn-default:active .filter-button:active{
    background-color: #42B32F;
    color: white;
}

.port-image{
  width: 100%;
}

.gallery_product{
    margin-bottom: 30px;
}

}


@media all and (min-width:1025px){
  #contact_form{
    text-align:center;
    justify-content:center;
  }

  .nav_links{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap:wrap;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  img.grid-item1, img.grid-item2{
    width: 90%;
    margin-top:1.875em;
  }
  
  img.grid-item1{
    height:90%;
    margin-left:-180px;
    grid-column-start:3;
  }
  
  img.grid-item2{
    margin-left:-260px;
    height:90%;
    grid-column-start:2;
    margin-top:50px;
  }
  
  img.grid-item3{
    width:90%;
    margin-top:50px;
    grid-column-start: auto;
    margin-left:-90px;
  }
  
  iframe{
    margin-top:1.875em;
    width: 90%;
    height:90%;
    filter: contrast(1.15);
    margin-left:25px;
  }
  
  img.grid-item4{
    width:90%;
    margin-top:55px;
    margin-left:-180px;
    height:90%;
  }
  
  iframe.grid-item5{
    margin-top:1.875em;
    width: 90%;
    height: 100%;
    filter: contrast(1.15);
    grid-column-start:3;
    margin-left:-180px;
  }

  footer.gallery{
    margin-top:45px;
  }
  


}